{{template "base" .}}

{{define "content"}}
 <div class="row">
      <div class="col">
        <h1>This is the About Page</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consectetur
          veniam laboriosam expedita optio perferendis earum aspernatur et, ut cum sunt
          ipsam fugit ducimus repellat officia mollitia ratione perspiciatis illum.
        </p>

        <p>This came from the template {{index .StringMap "test"}}</p>
        <p>
          {{if ne (index .StringMap "remote_ip") ""}}
            Your IP is {{index .StringMap "remote_ip"}}
            {{else}}
            I don't know your IP address yet
          {{end}}
        </p>
      </div>
    </div>
    {{end}}