{{template "base" .}}

{{define "content"}}
 <div class="row">
      <div class="col">
        <h1>This is the Home Page</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, consectetur
          veniam laboriosam expedita optio perferendis earum aspernatur et, ut cum sunt
          ipsam fugit ducimus repellat officia mollitia ratione perspiciatis illum.
        </p>
      </div>
    </div>
    {{end}}